@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  *::-webkit-scrollbar {
    display: none;
  }
  body {
    @apply bg-black text-white antialiased selection:bg-white/30;
    overflow-x: hidden;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
